body {
  color: #434455;
  background-color: #ffffff;
  font-family: "Roboto", sans-serif;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  margin: 0;
  padding: 0;
}

ul {
  padding-left: 0;
  margin: 0;
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

.container {
  max-width: 320px;
  padding: 0 16px;
  margin: 0 auto;
}

@media (min-width: 768px) {
  .container {
    max-width: 768px;
  }
}

@media (min-width: 1158px) {
  .container {
    max-width: 1158px;
    padding: 0 15px;
  }
}

/* header */

.header {
  border-bottom: 1px solid #e7e9fc;
  box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

@media (max-width: 767px) {
  .header {
    padding: 16px 0;
  }
}

.container-flex {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}

.logo-2 {
  color: #2e2f42;
}

.info,
.info-address {
  display: none;
}

.menu-btn {
  border: none;
  background-color: transparent;
}

@media (min-width: 768px) {
  .menu-btn {
    display: none;
  }

  .nav {
    display: flex;
    align-items: center;
  }

  .heder-logo {
    margin-right: 120px;
  }

  .info {
    display: flex;
    gap: 40px;
  }

  .studio {
    color: #2e2f42;
    padding: 24px 0;
    display: block;
  }

  .studio:hover {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
  }

  .studio:focus {
    font-weight: 500;
    font-size: 16px;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #404bbf;
    text-decoration: underline;
  }

  .header-menu-studio {
    color: #404bbf;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    position: relative;
  }

  .header-menu-studio::after {
    content: "";
    width: 100%;
    position: absolute;
    height: 4px;
    left: 0;
    bottom: -1px;
    background-color: #404bbf;
    border-radius: 2px;
  }

  .address {
    font-style: normal;
  }

  .info-address {
    display: flex;
    flex-direction: column;
    gap: 12px;
  }

  .contacts {
    font-weight: 400;
    font-size: 12px;
    line-height: 1.17;
    letter-spacing: 0.04em;
    color: #434455;
    text-decoration: none;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .contacts:hover {
    color: #404bbf;
  }

  .contacts:focus {
    color: #404bbf;
  }
}

@media (min-width: 1158px) {
  .heder-logo {
    margin-right: 76px;
  }

  .info-address {
    flex-direction: row;
    gap: 40px;
  }

  .contacts {
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
  }
}

/* section1 */

.first-section {
  background-color: #2e2f42;
  background-image: linear-gradient(
      rgba(46, 47, 66, 0.7),
      rgba(46, 47, 66, 0.7)
    ),
    url(../images/dark-bg-mob.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  padding: 72px 0;
}

@media (min-device-pixel-ratio: 2),
  (min-resolution: 192dpi),
  (min-resolution: 2dppx) {
  .first-section {
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/dark-bg-mob@2x.jpg);
  }
}

@media (min-width: 768px) {
  .first-section {
    padding: 112px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/Dark-bg-tab.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 192dpi),
    (min-resolution: 2dppx) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/Dark-bg-tab@2x.jpg);
    }
  }
}

@media (min-width: 1158px) {
  .first-section {
    padding: 188px 0;
    background-image: linear-gradient(
        rgba(46, 47, 66, 0.7),
        rgba(46, 47, 66, 0.7)
      ),
      url(../images/people-office-desc.jpg);
  }

  @media (min-device-pixel-ratio: 2),
    (min-resolution: 2dppx),
    (min-resolution: 192dpi) {
    .first-section {
      background-image: linear-gradient(
          rgba(46, 47, 66, 0.7),
          rgba(46, 47, 66, 0.7)
        ),
        url(../images/people-office-desc@2x.jpg);
    }
  }
}

.main-head {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #fff;
  margin: 0 auto 72px;
  max-width: 216px;
}

@media (min-width: 768px) {
  .main-head {
    font-size: 56px;
    line-height: 107%;
    min-width: 496px;
    margin-bottom: 36px;
  }
}

@media (min-width: 1158px) {
  .main-head {
    margin-bottom: 48px;
  }
}

.main-button {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  color: #fff;
  background: #4d5ae5;
  cursor: pointer;
  font-family: "Roboto", sans-serif;
  border-radius: 4px;
  height: 56px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  border: none;
  display: block;
  min-width: 169px;
  margin-right: auto;
  margin-left: auto;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.main-button:hover,
.main-button:focus {
  background-color: #404bbf;
}

/* section2 */

.second-section {
  padding: 96px 0;
}

.icon-box {
  display: none;
}

.heading {
  font-weight: 700;
  font-size: 36px;
  line-height: 1.11;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 8px;
}

.description {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (max-width: 767px) {
  .info-list:not(:last-child) {
    margin-bottom: 72px;
  }
}

@media (min-width: 768px) {
  .list-info {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }

  .info-list {
    width: calc((100% - 24px) / 2);
  }

  .heading {
    text-align: left;
  }
}

@media (min-width: 1158px) {
  .second-section {
    padding: 120px 0;
  }

  .icon-box {
    display: flex;
  }

  .heading {
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
  }

  .description {
    font-weight: 400;
  }

  .info-list {
    width: calc((100% - 72px) / 4);
  }

  .icon-box {
    width: 264px;
    height: 112px;
    border: 1px solid #8e8f99;
    border-radius: 4px;
    background-color: #f4f4fd;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-bottom: 8px;
  }
}

/* section3 */

.third-section {
  background: #f4f4fd;
  padding: 96px 0;
}

.team {
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.heroes {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 72px;
}

.hero {
  border-radius: 0 0 4px 4px;
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08),
    0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
  background: #fff;
}

.container-hero {
  padding: 32px 0;
}

.name-hero {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
}

.specialty-hero {
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #434455;
  margin: 8px;
}

.social-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 0;
  gap: 24px;
}

.social-item {
  width: 40px;
  height: 40px;
}

.social-link {
  border-radius: 50%;
  background-color: #4d5ae5;
  width: 100%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.social-icon {
  fill: #f4f4fd;
}

.social-link:hover,
.social-link:focus {
  background-color: #404bbf;
}

@media (min-width: 768px) {
  .heroes {
    gap: 64px 24px;
  }
}

@media (min-width: 1158px) {
  .third-section {
    padding: 120px 0;
  }

  .heroes {
    flex-wrap: nowrap;
  }
}

/* section4 */

.fourth-section {
  background-color: #fff;
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .fourth-section {
    padding: 120px 0;
  }
}

.portfolio {
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 72px;
}

.block {
  list-style-type: none;
  display: flex;
  flex-wrap: wrap;
  gap: 24px;
}

.images-portfolio {
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.block-portfolio-text {
  display: none;
}

.block-portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.block-head {
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-transform: capitalize;
  margin-bottom: 8px;
}

.specialty {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

@media (min-width: 768px) {
  .block {
    gap: 72px 24px;
  }
}

@media (min-width: 1158px) {
  .block {
    gap: 48px 24px;
  }
  .images-portfolio {
    flex-basis: calc((100% - 48px) / 3);
    box-shadow: none;
  }

  .images-portfolio:hover {
    box-shadow: 0px 1px 6px rgba(46, 47, 66, 0.08),
      0px 1px 1px rgba(46, 47, 66, 0.16), 0px 2px 1px rgba(46, 47, 66, 0.08);
  }

  .images-portfolio:hover .block-portfolio-text {
    transform: translateY(0%);
  }

  .portfolio-overlay {
    position: relative;
    overflow: hidden;
  }
  .block-portfolio-text {
    display: block;
    position: absolute;
    line-height: 150%;
    letter-spacing: 0.02em;
    color: #f4f4fd;
    padding: 40px 32px;
    bottom: 0;
    left: 0;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    color: #f4f4fd;
  }
}

/* footer */

.footer {
  background-color: #2e2f42;
  padding: 96px 0;
}

@media (min-width: 1158px) {
  .footer {
    padding: 100px 0;
  }
}

@media screen and (min-width: 768px) and (max-width: 1157px) {
  .footer-container {
    max-width: 584px;
  }
}

@media (min-width: 768px) {
  .footer-container {
    display: flex;
    flex-wrap: wrap;
    gap: 72px 24px;
  }
}

@media (min-width: 1158px) {
  .footer-container {
    flex-wrap: nowrap;
    gap: unset;
  }
}

@media (max-width: 767px) {
  .footer-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 72px;
  }
}

.logo {
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #4d5ae5;
}
.footer-logo {
  display: inline-block;
  margin-bottom: 16px;
}
.span-logo {
  color: #f4f4fd;
  font-weight: 700;
  font-size: 18px;
  line-height: 117%;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: #f4f4fd;
}
.text-footer {
  font-weight: 400;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #f4f4fd;
  max-width: 264px;
}

@media (max-width: 767px) {
  .footer-social {
    margin-bottom: 72px;
  }
}

@media (min-width: 1158px) {
  .footer-social {
    margin: 0 80px 0 120px;
  }
}

.footer-social-text {
  font-weight: 500;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #ffffff;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .footer-social-text {
    text-align: center;
  }
}
.footer-social-list {
  display: flex;
  gap: 16px;
}

@media (max-width: 767px) {
  .footer-social-list {
    justify-content: center;
  }
}
.footer-social-item {
  width: 40px;
  height: 40px;
}

.footer-social-link {
  width: 100%;
  height: 100%;
  background-color: #4d5ae5;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus {
  background-color: #31d0aa;
}

.footer-social-icon {
  fill: #f4f4fd;
}

.footer-social-link:hover {
  animation: shake 1000ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-sub-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  color: #fff;
  margin-bottom: 16px;
}

@media (max-width: 767px) {
  .form-sub-text {
    text-align: center;
  }
}

@media (min-width: 768px) {
  .sub-form {
    display: flex;
    gap: 24px;
  }
}

.field-form-email {
  width: 264px;
  height: 40px;
  border: 1px solid #ffffff;
  background-color: transparent;
  font-size: 12px;
  line-height: 200%;
  letter-spacing: 0.04em;
  color: #fff;
  padding-left: 16px;
  border-radius: 4px;
  box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .field-form-email {
    width: 288px;
  }
}

.field-form-email:focus {
  border-color: #31d0aa;
  outline: transparent;
}

.sub-btn {
  border-radius: 4px;
  padding: 8px 24px;
  min-width: 165px;
  height: 40px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #fff;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (max-width: 767px) {
  .sub-btn {
    margin: 16px auto 0;
  }
}
.sub-btn:hover,
.sub-btn:focus {
  background-color: #31d0aa;
}
.sub-form-btn-icon {
  margin-left: 16px;
  fill: #fff;
}

/* modal-window */

.backdrop {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(46, 47, 66, 0.4);
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1),
    visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.backdrop.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
}

.modal-window {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 288px;
  min-height: 584px;
  box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12),
    0 2px 1px 0 rgba(0, 0, 0, 0.2);
  background: #fcfcfc;
  border-radius: 4px;
  padding: 72px 24px 24px;
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

@media (min-width: 768px) {
  .modal-window {
    width: 408px;
  }
}

.modal-window-close-btn {
  position: absolute;
  top: 24px;
  right: 24px;
  width: 24px;
  height: 24px;
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #e7e9fc;
  border: 1px solid rgba(0, 0, 0, 0.1);
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-window-close-btn:hover,
.modal-window-close-btn:focus {
  border: none;
  background-color: #404bbf;
  fill: #ffffff;
}

.closing-window-btn-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.modal-text {
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.02em;
  text-align: center;
  color: #2e2f42;
  margin-bottom: 16px;
}

.form-block-labels {
  margin-bottom: 8px;
}

.label-modal-form {
  display: block;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  color: #8e8f99;
  margin-bottom: 4px;
}

.modal-cont-input {
  position: relative;
}

.form-field-input {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 40px;
  background-color: transparent;
  padding-left: 38px;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
}

.form-field-input:focus {
  border-color: #4d5ae5;
}

.form-field-input:focus + .form-icon {
  fill: #4d5ae5;
}

.form-icon {
  position: absolute;
  top: 50%;
  left: 16px;
  transform: translateY(-50%);
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.form-comment-block {
  margin-bottom: 16px;
}

.form-field-comment {
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 4px;
  width: 100%;
  height: 120px;
  background-color: transparent;
  transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  outline: transparent;
  font-size: 12px;
  line-height: 1.17;
  letter-spacing: 0.04em;
  padding: 8px 16px;
  resize: none;
  margin-bottom: 16px;
}

.form-field-comment:focus {
  border-color: #4d5ae5;
}

.form-privacy-line {
  margin-bottom: 24px;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8e8f99;
  display: flex;
  align-items: center;
}

.form-privacy-box {
  width: 16px;
  height: 16px;
  border: 1px solid rgba(46, 47, 66, 0.4);
}

.privacy-block {
  width: 16px;
  height: 16px;
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4d5ae5;
  border: 1px solid rgba(46, 47, 66, 0.4);
  border-radius: 2px;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
    border 250ms cubic-bezier(0.4, 0, 0.2, 1),
    fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
  display: inline-flex;
  justify-content: center;
  align-items: center;
  fill: transparent;
  margin-right: 8px;
  flex-shrink: 0;
}

.form-privacy-box:checked + .form-privacy-line > .privacy-block {
  background-color: #404bbf;
  fill: #f4f4fd;
  border: none;
}

.user-privacy-link {
  color: #4d5ae5;
  line-height: 133%;
  text-decoration: underline;
}

.form-submit-btn {
  display: block;
  margin: 0 auto;
  min-width: 169px;
  height: 56px;
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 150%;
  letter-spacing: 0.04em;
  text-align: center;
  color: #ffffff;
  cursor: pointer;
  background-color: #4d5ae5;
  border: none;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/* burger-menu */

.burger-menu {
  position: fixed;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
  pointer-events: none;
  background: #fff;
  transform: translateX(100%);
  transition: transform 250ms ease-in-out;
}

.burger-menu.is-open {
  opacity: 1;
  visibility: visible;
  pointer-events: auto;
  transform: translateX(0);
}

@media (max-width: 767px) {
  .form-closing-sign {
    background-color: transparent;
  }
}

.burger-wrapper {
  display: flex;
  flex-direction: column;
  padding: 72px 24px 40px 16px;
  width: 100%;
  height: 100%;
}

@media (max-width: 767px) {
  .form-closing-sign {
    background-color: transparent;
  }
}

.burger-list-item:not(:last-child) {
  margin-bottom: 40px;
}
.burger-nav-link {
  font-family: "Roboto", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 111%;
  letter-spacing: 0.02em;
  color: #2e2f42;
}
.burger-nav-studio {
  color: #404bbf;
}
.burger-social-block {
  width: 280px;
  display: flex;
  flex-direction: column;
  margin-top: auto;
}

.burger-adrs-list {
  display: flex;
  flex-direction: column;
  gap: 24px;
  margin-bottom: 48px;
}

.burger-list-item-phone {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #4d5ae5;
}
.burger-adrs-studio {
  color: #4d5ae5;
}
.burger-list-item-email {
  font-family: "Roboto", sans-serif;
  font-weight: 500;
  font-size: 20px;
  line-height: 120%;
  letter-spacing: 0.02em;
  color: #434455;
}

.burger-social-list {
  gap: 40px;
  list-style-type: none;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 0;
}
